module.exports = {
  env: {
    browser: true,
    node: true,
  },
  extends: [<% if (typescript) { %>"plugin:@typescript-eslint/recommended"<% } else { %>"airbnb"<% } %><% if (prettier) { %>, "prettier", "prettier/@typescript-eslint"<% } %>],
  plugins: [<% if (typescript) { %>"@typescript-eslint"<% } %><% if (prettier) { %><% if (typescript) { %>, <% } %>"prettier"<% } %>],
  <% if (typescript) { %>
  parser: '@typescript-eslint/parser',
  parserOptions: {
    ecmaVersion: 2018,
    sourceType: 'module',
  },
  <% } %>
  rules: {
    <% if (typescript) { %>
    '@typescript-eslint/indent': 0,
    '@typescript-eslint/member-ordering': [
      2,
      {
        default: [
          'public-static-field',
          'protected-static-field',
          'private-static-field',
          'public-instance-field',
          'protected-instance-field',
          'private-instance-field',
          'public-constructor',
          'protected-constructor',
          'private-constructor',
          'public-instance-method',
          'protected-instance-method',
          'private-instance-method',
          'public-static-method',
          'protected-static-method',
          'private-static-method',
        ],
      },
    ],
    '@typescript-eslint/no-parameter-properties': 0,
    '@typescript-eslint/no-unused-vars': 0,
    <% } %>
    <% if (prettier) { %>
    'prettier/prettier': 1,
    <% } %>
    'sort-keys': 2,
  },
}
